<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Formulario Router y Multer</title>
</head>
<body>
    <h1>Bienvenidos a AppTienda</h1>
    <div>
        Para ingresar nuevo producto => <a href="/formulario">Formulario</a>
    </div>
    <div>
        Para ver todos los productos => <a href="/vistaProductos">Lista Productos</a>
    </div>
    
    
    </form>
</body>
</html>