
html 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1.0")
        link(rel="stylesheet" href="./css/styles.css")
        title Productos

    body(class="bodyFormulario") 
        nav(class="navFormulario")
            a(href="./formulario") Formulario
            a(href="./vistaProductos") Listado de Productos
        
        h1(class="tituloFormulario") Listado de Productos
        table(class="tablaProductos")
            thead
                tr(class="tituloColumnas")
                    th(scope="col") Nombre
                    th(scope="col") Precio
                    th(scope="col") Foto
            tbody
                each producto in Productos 
                    tr              
                        td(scope="row") #{producto.title}
                        td(scope="row") #{producto.price}
                        td(scope="row")
                            img(src= producto.thumbnail alt="")

