<div class="bodyForm">
    <h2 class="tituloFormulario">Ingresar nuevo producto</h2>
    <form class="formFormulario" action="/index" method="POST" >
    <input type="text" name="title" placeholder="Producto">
    <input type="text" name="price" placeholder="Precio">
    <input type="text" name="thumbnail" placeholder="URL foto">
    <button type="submit">Enviar</button>
    </form>
</div>